<!--
 * @Description:
 * @Date: 2020-11-27 00:54:02 +0800
 * @Author: JackChouMine
 * @LastEditTime: 2020-11-29 20:32:05 +0800
 * @LastEditors: JackChouMine
-->
<div class="app">
  <!-- routerLink 的值是一个数组，可传递参数 -->
  <a [routerLink]="['/']">主页</a>|
  <!-- routerLinkActive="active" 路由激活时的类 -->
  <a [routerLink]="['/product','iPhoneXR']" [queryParams]="{id:1}" routerLinkActive="active">商品详情</a>|
  <button (click)="toProduct()">商品详情</button>|
  <a [routerLink]="[{outlets:{aux:'chat',primary:'home'}}]">开始聊天</a>|
  <button [routerLink]="[{outlets:{aux:null}}]">结束聊天</button>
  <div>
    <router-outlet></router-outlet>
    <!-- 指定路由出口的名字 -->
    <router-outlet name="aux"></router-outlet>
  </div>
</div>
